body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  border-top: 0.5em ridge #F60;
  background-color: ivory;
}

ul {
  list-style: none;
  padding: 0;
  li{
    padding:0;
    margin:0;
  }
}

#todoList{
  text-align: center;
  width: 50%;
  margin:0 auto;
  a{
    cursor: pointer;
    text-decoration: none;
  }

  .list-header{
    input {
      border: solid 1px #D8D3D3;
      border-radius: 0.1em;
      background-color: rgba(245, 231, 231, 0.5);
      font-size: 1.2em;
      width:100%;
      height:30px;

      &:hover {
        border: 2px solid #ff8d19;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
      }
    }
  }

  #list-content{
      text-align: left;

    li.done label{
      color: #777777;
      text-decoration: line-through;
    }


    li{
      line-height: 1.8em;
      border-bottom: dashed #ccc 1px;
      width: 100%;

      button{
        float: right;
        background: none;
        border: none;
        position:relative;
        top:8px;
        display: none;
      }

      &:hover {
        background-color: rgba(255, 212, 22, 0.4);
        color: #230782;

        button{
          display: block;
        }
      }
    }

  }


  .list-footer{

    font-family: monospace;
    position: relative;
    .todo-remain-count{
      float:left;
      color:red;
    }
    .todo-all-count{
      color:blue;
    }
    .todo-completed-count{
      color:green;
    }
    ul.todo-filters{
      position: absolute;
      left: 164px;
      top: -12px;

      li{
        display: inline;
        a{
          padding: 5px 8px;
          border: 1px solid transparent;
          &:hover{
            border: 1px solid red;
            border-radius: 3%;
          }
        }
      }
    }

    #clear-completed{
      float:right;
      &:hover{
          text-decoration: underline;
        }
      }


  }
}

